
body {


	background: #000;
	color: #fff;
}


header input {

	margin-top: 15px;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

input {
	color: #333;
}

img {

	width: 100%;
}

footer {

	text-align: center;
	margin-top: 40px;
	border-top: #333 solid 1px;
}

.pic {

	text-align: center;
}

.post {

	padding: 20px;
}

